
# Ignore all files stored in junk
junk/

# Ignore all files stored in data
data/block_logs/raw_csvs_block_logs_2004-2023/
data/block_logs/raw_csvs_block_logs_2004-2023.tar.gz

# Ignore notebooks
merge_data.ipynb

# Ignore .DS_Store
.DS_Store
**/.DS_Store

# Ignore test notebooks
test.ipynb

# Ignore virtual environment
.venv/


